/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Quicksand;
	src: url('../fonts/Quicksand-Regular.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body {
	font-family: 'Quicksand', sans-serif, Arial, serif;
	line-height: 1.8;
	font-size: 16px;
	background: #fff;
	font-weight: 300;
	position: relative;
}

a {
	color: #333;
	-webkit-transition: 0.5s !important;
	-o-transition: 0.5s !important;
	transition: 0.5s !important;
}
a:hover {
	text-decoration: none;
	color: #333;
}
p {
	font-size: 15px;
	color: #444;
	font-weight: 300;
	line-height: 1.6;
	font-family: 'Quicksand', sans-serif, Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Quicksand', sans-serif, Arial, serif;
	font-weight: 500;
	margin: 0;
	line-height: 1.6;
	font-size: 16px;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
	color: #333;
}
.hidden{
	display: none !important;
}
.clearfix{
	clear: both;
}

.img-responsive{
	display: block;
	width: 100%;
	height: auto;
}

#return-to-top {
	cursor: pointer;
	position: fixed;
	z-index: 999;
	bottom: 100px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top svg {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 11px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top:hover {
	background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover svg {
	color: #fff;
	top: 5px;
}

.call {
	position: fixed;
	right: 20px;
	bottom: 90px;
	z-index: 999;
	width: 50px;
	height: 50px;
	line-height: 33px;
	margin: 0 auto;
	border-radius: 50%;
	animation: play 1.5s ease infinite;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.call a {
	position: absolute;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	z-index: 999999 !important;
	/*background: #e89f10;*/
	background-image: -webkit-linear-gradient(90deg, #e89f10 35%, #f74704 100%);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	font-size: 25px;
	border: 1px solid #fff;
	transition: .5s ease-in-out;
}
.call:hover {
	animation: none;
	transform: scale(1.2);
}

@keyframes play {
	0% {
		transform: scale(1);
	}
	15% {
		box-shadow: 0 0 0 20px hsla(21, 90%, 75%, 0.42);
	}
	25% {
		box-shadow: 0 0 0 20px hsla(21, 90%, 75%, 0.42), 0 0 0 40px hsla(21, 90%, 75%, 0.42);
	}
	30% {
		transform: scale(1.2);
	}
}
header {
	background-image:  -webkit-linear-gradient(0deg, #00195b 35%, #1a61a7 100%) ;
	position: fixed;
	width: 100%;
	z-index: 99;
	
}
header nav.navbar {
	width: 100%;
}
main {
	
}
main .background{
	padding-top: 100px;
	background-image: url(../images/back_slide.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
img.img-responsive.image-language {
	display: inline;
	width: 35px;
	height: auto;
	padding-top: 
}
header .navbar-collapse ul.navbar-nav li a {
	color: #fff;
	font-weight: 700;
	display: inline-block;
}
header .navbar-collapse ul.navbar-nav li.active a, header .navbar-collapse ul.navbar-nav li a:hover {
	color: #fa0;
	border-bottom: 2px solid #fa0;
	padding-bottom: 0;
}

.col-xs-6.col-sm-6.col-md-6.col-lg-6.sub_content {
	padding-top: 10%;
	text-align: center;
}
#navbarSupportedContent {
	margin-left: 90px;
}


h3.title.product-feature {
	font-size: 35px;
	font-weight: 700px !important;
	color: #10458a;
	border-bottom: 2px solid #10458a;
	display: inline-block;
	font-weight: 700;
}
.col-12.col-sm-6.col-lg-3.gr_content {
	display: flex;
}
section.gr_product {
	margin-bottom: 100px;
}

footer .sub_footer_socialite .gr_sub ul.sub-share{
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: right;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li{
	float: right;
	margin: 0  0  0 15px;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li a{
	color: rgb(255, 255, 255);
	background: none;
	padding: 7px 8px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li a svg{
	width: 18px;
	height: 18px;
}
footer .sub_footer_socialite .gr_sub ul.sub-share li a:hover{
	color: #FFB000;
	background: none;
	padding: 11px 12px;
	border: 4px solid #FFB000;
	border-radius: 50%;
}
#carouselExampleIndicators .sub_content .info {
	color: #fff;
}
#carouselExampleIndicators .sub_content .title {
	color: #fff;
	font-size: 30px;
}
#carouselExampleIndicators .sub_content .number {
	color: #fff;
	font-size: 80px;
}

.group-category {
	background-color: bisque;
	padding: 10px;
}





button.btn.btn-default {
	color: #ffff;
	border: 1px solid #FFF;
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 10px;
	width: 150px;
	height: 45px;
	font-size: 20px;
	/*font-weight: 700 !important;*/
	border-radius: 10px;
}
button.btn.btn-default:hover {
	color: #ffbf0d;
	border: 1px solid #ffbf0d;
}
img.img-responsive.img_hot {
	width: 45px;
	height: auto;
	right: 20px;
	position: absolute;
}
.group-category {
	background-color: #fff;
	padding: 20px 10px;
	border-radius: 15px;
	box-shadow: 2px 4px 8px rgba(16,69,138,0.7);
	margin-top: 30px;
}
.sub_img {
	margin: 0 auto;
	overflow: hidden;
	display: block;
}

.sub_content {
	text-align: center;
}
.info.content {
	font-size: 21px;
	font-weight: 700;
	color: #10458A;
}
.info.content:hover {
	color: #ffbf0d;
}
.sub_content {
	text-align: center;
	font-weight: 700;
	color: #d11111;
	font-size: 18px;
	margin-bottom: 5px;
	position: relative;
	bottom: 5px;
}
.gr_con {

	margin-bottom: 10px;
	font-size: 16px;
	color: #10458a;
	font-weight: 300;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-height: 1.6;
	-webkit-box-orient: vertical;
	overflow: hidden;

}

button.btn.footer-btn:hover {
	color : #fff;
}

button.btn.btn-defaults.use {
	color: #fff;
	background: #1C6DC1;
	font-size: 13px;
}
button.btn.btn-defaults.bought {
	background: #ffb117;
	color: #fff;
	font-size: 13px;
}

section.gr_product .sub_img img {
	transform: scale(0.9);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
section.gr_product .sub_img img:hover {
	transform: scale(1.1);

}


.gr_info_product {
	background-image:  -webkit-linear-gradient(0deg, #00195b 5%, #1a61a7 70%) ;
	/*position: fixed;
	width: 100%;
	z-index: 99;*/
	
}
.info_product {
	padding-top: 70px;
}
.row.pro {
	padding-bottom: 20px;
	padding-top: 20px;
}
img.img-responsive.img {
	width: 359px;
	height: auto;
	margin-left: 90px;
	transform: scale(1);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
img.img-responsive.img:hover {
	transform: scale(0.9);

}
.gr_info_product .sub_content {
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: initial;
	margin-top: 35px;
}
h2.title.pro {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
}
p.info.pro {
	color: #fff;
	font-weight: 500;
}
a.btn_view {
	font-size: 16px;
	font-weight: 400;
	color: #ffbf0d;
}
a.btn_view:hover {

	margin-left: 13px;
}


.group-cate {
	padding-top: 90px;
}

section.gr_information .sub_img img {
	/*width: 200px;*/
	padding: 30px;
	-webkit-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
}
section.gr_information .sub_img img:hover {

	transform: rotate(360deg);
}
section.gr_information .sub_content .gr_cont {

	margin-bottom: 10px;
	font-size: 16px;
	color: #10458a;
	font-weight: 300;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-height: 1.6;


}
button.btn {
    color: #fff;
}
button.btn.btn-default.contact {
	background: #ffbf0b;
	margin: 10px 20px;
	width: 180px;
	font-weight: 500;
}
button.btn.btn-default.contact:hover {
	background: #10458a;
}
.info_foot {
	text-align: center;
}


.gr_info_personal {
	background-image:  -webkit-linear-gradient(0deg, #00195b 5%, #1a61a7 70%) ;
}
.gr_personal {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	border-bottom: 2px solid;
	line-height: 45px;
	display: inline-block;
	margin-bottom: 20px;
	padding-right: 5px;
}
.info_person {
	color: #fff;
	width: 50%;
	line-height: 1.6;
	margin-bottom: 40px;
}
img.img-responsive.image {
	border-radius: 50%;
	width: 200px;
	height: auto;
	padding: 20px;
}
.sub_person {
	text-align: center;
}
section.gr_info_personal .sub_person .title {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	padding: 0 0 8px;
}
section.gr_info_personal .sub_person .info {
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	padding: 0 0 100px;
}
section.gr_social .group_header {
	font-size: 35px;
	font-weight: 700;
	color: #10458a;
	font-weight: 700;
	margin-bottom: 70px;
}

section.gr_social .group_content .sub_img {
	border-radius: 20px;
	margin-bottom: 20px;
}
section.gr_social .group_content .info_content {
	text-align: initial;
	color: #10458a;
	font-size: 23px;
	padding: 10px 0px;
}    
section.gr_social .group_content .gr_cont{
	text-align: initial;
	color: #10458a;
	font-size: 16px;

} 
section.gr_social .info_footer .btn {
	font-size: 19px;
    font-weight: 500;
    color: #fa0;
    border: 2px solid #fa0;
    border-radius: 15px;
    padding: 5px 20px;
} 
section.gr_social .info_footer .btn:hover {
    color: #10458a;
    border: 2px solid #10458a;
    
} 

footer.footer {
    background-image: -webkit-linear-gradient(0deg, #00195b 5%, #1a61a7 70%);
}


p.infom {
    color: #fff;
}
h3.titles {
    color: #fff;
    font-size: 21px;
    font-weight: 600;
} 
.gr_sub {
    text-align: center;
    padding: 30px;
}
/* lg */ 
/* lg */ 
@media (min-width: 1331px) {
}

@media (max-width: 1330px) {
}
@media (max-width: 1199px) {
}

/* md */
@media (max-width: 991px) {

	.title {
		display: none;
	}

}

/* sm */
@media (max-width: 767px){
}

/* xs */
@media (max-width: 575px){
}

@media (max-width: 440px){
}
@media (max-width: 340px){
}

@media (max-width: 300px){
}